@using System.Collections;
@{
    ViewData["Title"] = "Area";
    var posts = (ArrayList)ViewData["posts"];
}

<h3>@{@ViewData["name"]}</h3><br />
<div class="an box-left-shadow">
<pre>说明:
@{@ViewData["exp"]}
</pre>
</div>

<table class="posts-table">
    <thead>
        <tr>
            <td>帖子标题</td>
            <td>作者</td>
            <td>发帖时间</td>
        </tr>
    </thead>
    @foreach (ArrayList item in posts)
    {
        <tr>
            <td><a href="/post/@{@item[0]}.html" target="_blank">@item[2]</a></td>
            <td>@item[1]</td>
            <td>@item[3]</td>
        </tr>
    }
</table>